.fei-secuence {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #dadada;
  min-width: 96%;
  opacity: 1;
  transition: opacity 0.6s ease-in;

  &--left {
    justify-content: flex-start;
  }

  &--transition {
    opacity: 0;
  }
}
