.fei-duels {
  &-muras {
    .fei-duel__thumbnail {
      position: absolute;
      top: 211px;
      left: 467px;
    }
  }
  &-andrea {
    .fei-duel__thumbnail {
      position: absolute;
      top: 220px;
      left: 598px;
    }
  }
}
