.fei-release {
  &__priest {
    position: absolute;
    top: 189px;
    left: 208px;
    width: 250px;
    z-index: 2;
  }

  &__head-1 {
    position: absolute;
    top: 281px;
    left: 619px;
    z-index: 2;
  }

  &__body-2 {
    position: absolute;
    z-index: 1;
    height: 150px;
    top: 319px;
    left: 273px;
  }
  &__head-2 {
    position: absolute;
    top: 299px;
    left: 275px;
    z-index: 2;
  }

  &__body-3 {
    position: absolute;
    z-index: 3;
    height: 170px;
    top: 197px;
    left: 390px;
  }
  &__head-3 {
    position: absolute;
    z-index: 3;
    top: 193px;
    left: 378px;
  }
  &__body-4 {
    position: absolute;
    z-index: 5;
    height: 196px;
    top: 356px;
    left: 90px;
  }
  &__head-4 {
    position: absolute;
    top: 353px;
    left: 102px;
    z-index: 5;
  }
  &__body-5 {
    position: absolute;
    z-index: 3;
    height: 180px;
    top: 205px;
    left: 512px;
  }
  &__head-5 {
    position: absolute;
    top: 200px;
    left: 510px;
    z-index: 3;
  }
  &__body-6 {
    position: absolute;
    z-index: 1;
    height: 166px;
    top: 384px;
    left: 164px;
  }
  &__head-6 {
    position: absolute;
    top: 375px;
    left: 160px;
    z-index: 3;
    transform: rotate(12deg);
  }

  &__head-7 {
    position: absolute;
    z-index: 4;
    height: 65px;
    top: 212px;
    left: 44px;
    transform: rotate(20deg);
  }
  &__head-8 {
    position: absolute;
    z-index: 4;
    height: 65px;
    top: 140px;
    left: 175px;
    transform: rotate(7deg);
  }
  &__body-9 {
    position: absolute;
    z-index: 3;
    height: 190px;
    top: 331px;
    left: 323px;
  }
  &__head-9 {
    position: absolute;
    z-index: 3;
    top: 322px;
    left: 326px;
  }
  &__capi {
    position: absolute;
    z-index: 4;
    height: 65px;
    top: 189px;
    left: 113px;
    transform: rotate(16deg);
  }
  &__laptop {
    position: absolute;
    z-index: 4;
    width: 106px;
    top: 335px;
    left: 570px;
  }

  &__dance {
    position: absolute;
    top: 310px;
    left: 401px;
    width: 166px;
  }
}
