@font-face {
  font-family: "commodore";
  font-weight: 400;
  src: url("./commodore/Commodore.ttf") format("truetype");
}

// @font-face {
//   font-family: "dialog";
//   font-weight: 400;
//   src: url("./commodore/efmi.ttf") format("truetype");
// }

@font-face {
  font-family: "blackpearl";
  font-weight: 400;
  src: url("./blackpearl/Blackpearl.ttf") format("truetype");
}
@font-face {
  font-family: "crossbones";
  font-weight: 400;
  src: url("./crossbones/crossbones.ttf") format("truetype");
}
