.fei-departure {
  width: 800px;
  height: 600px;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  background-color: #000;
  color: #dadada;
  cursor: none;

  &__title {
    position: absolute;
    top: 330px;
    font-size: 20px;
    max-width: 96%;
    background-color: transparent;
  }
}
