.fei-cartel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 50px;
  padding-top: 78px;
  width: 440px;
  height: 100%;
  padding-bottom: 56px;
  margin-left: 336px;
  background-image: url("../../../assets/images/things/cartelGrande.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;

  &__title {
    font-family: "crossbones";
    font-size: 40px;
    width: 100%;
    margin: 0;
    text-align: center;
    color: #660606;
  }

  .fei-thumbnail__name {
    font-family: "crossbones";
    font-size: 22px;
  }
}
