.fei-page.fei-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #dadada;
  cursor: none;

  &__title {
    font-size: 20px;
    max-width: 96%;
    background-color: transparent;
  }
}

.fei-page .fei-intro-island {
  // display: flex;
  // justify-content: flex-start;
  // align-items: flex-end;
  background-color: #000;
  color: #dadada;
  // padding: 24px;
  cursor: none;

  &--cursor-active {
    cursor: inherit;
  }

  // &__title {
  //   position: absolute;
  //   bottom: 24px;
  //   left: 24px;
  //   display: block;
  //   min-width: 96%;
  //   max-width: 96%;
  //   background-color: transparent;
  //   font-size: 16px;
  // }

  &__super-title {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "blackpearl";
    font-size: 80px;
    letter-spacing: 4px;
    color: goldenrod;
    transition: opacity 0.8s ease-in;
    opacity: 0;

    &--is-active {
      opacity: 1;
    }
  }
}
