.fei-dialog {
  display: flex;
  flex-direction: row;
  width: 800px;
  max-height: 400px;
  overflow: auto;
  margin-top: 12px;

  // &__speaker{}
  &__content {
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__option {
    list-style: none;
    opacity: 1;
    transition: all 0.2s ease;
    font-size: 18px;
    margin-bottom: 12px;

    &:hover {
      opacity: 0.7;
    }

    &--selected {
      color: #fff;
    }

    &--disabled {
      color: #888;

      &:hover {
        color: #888;
        opacity: 1;
      }
    }
  }
  &--xl {
    .fei-dialog__option {
      font-size: 32px;
    }
  }
}
