.fei-bubble {
  position: absolute;
  text-align: center;
  font-family: "Commodore";
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.1s linear;
  z-index: 99;

  &--active {
    opacity: 1;
  }
}
