.fei-top-deck {
  width: 800px;
  height: 600px;
  background-image: url("../../assets/images/bgs/top-deck.jpg");
  background-size: 800px 600px;

  &__map {
    position: absolute;
    top: 109px;
    left: 172px;
    width: 80px;
    height: 127px;
    background-image: url("../../assets/images/things/map.png");
    background-size: 80px 127px;

    &:hover {
      background-image: url("../../assets/images/things/map-hover.png");
    }
  }
}
