.fei-players-menu {
  position: fixed;
  top: 0;
  left: 0;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 340px;
    padding: 24px;
  }

  &__item {
    list-style: none;
    background: none;
  }
}
